@model IEnumerable<Homework8.Models.Artist>
@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>

@foreach (var item in Model.ToList())
{
    <h4>
        @Html.ValueForModel(item.ArtistName) <br />
   
</h4>
}
<h3>@Html.ActionLink("Add an Artist", "ArtistCreate","Create",null,null)</h3>
