@model IEnumerable<Homework8.Models.ArtWork>
@{
    ViewBag.Title = "Artworks";
}
<div class="jumbotron">
    <h2>Artworks available for smelling upon request (and waiver sign)</h2>
</div>


<!--A for loop to iterate over every item found in the ArtWork table and return the title and the name of the artist-->

@foreach (var item in Model.ToList())
{
    <h4>@Html.ValueForModel(item.Title + " by " + item.Artist.ArtistName)</h4> <br />
}

