@model IEnumerable<Homework8.Models.Genre>

@section Javascript
    {
    <script type="text/javascript" src="~/Scripts/CustomJS.js"></script>
    }


@{    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    Welcome to the home page
</div>

<!--Here we will be using JQuery and Ajax to render a dynamic page that will include details about the artist, and the artwork they created.
    Note that most of the background work will be segregated to additional files in order to preserve separation of code types since 
    There will be Html, JQuery and AJAX calls. Having it all on one page is convienent but a terrible idea. 
    -->




<!--The below function in Razor is a loop to go over the items in Models and determine what buttons will be needed for the Genres on the 
    Home page. This implements a Javascript file that can be found in the scripts folder. This has HTML, Razor, Javascript, and AJAX in one function-->
<div class="row">
    @foreach (var item in Model.ToList())
    {
       <div class="col-md-3"> 
           <button onclick="JavaAJAX_Call('@item.Genre1');">@item.Genre1</button>
       </div> 
    }

</div>

<br />
<br />

<!--Landing section for data that gets returned by clicking a button above (auto genereated buttons)
    thanks to JAKE HATFIELD for this brilliant solution.-->

<div id="landing_zone"></div>